$primary: #ff7b00;
$secondary: #2f329d;

#logo {
  height: 60px;
}

@media (max-width: 768px) {
  #logo {
    height: 30px;
  }
}

#navbar {
  height: 10vh;
  min-height: 40px;
}

@media (max-width: 768px) {
  #navbar {
    height: 60px;
  }
}

#hero {
  object-position: right;
  object-fit: contain;
  width: 100%;
}

@import "../node_modules/bootstrap/scss/bootstrap";
