$primary: #ff7b00;
$secondary: #2f329d;

html {
  scroll-behavior: smooth;
}

.active {
  font-weight: 500 !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

#logo {
  height: 40px;
}

@media (max-width: 768px) {
  #logo {
    height: 30px;
  }
}

#navbar {
  height: 10vh;
  min-height: 40px;
}

// @media (max-width: 768px) {
//   #navbar {
//     height: 60px;
//   }
// }

#hero {
  object-position: right;
  object-fit: contain;
  width: 100%;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
